* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 5% 11%;
    background-color: #000000;
    color: #fffefe;
    font-family: 'Roboto';
}


/* common styles */

.cover {
    margin-bottom: 13%;
    margin-top: 13%;
    text-align: center;
    .last-name {
        font-weight: 600;
    }
    .position {
        color: #4a91e3;
    }
    @media screen and (max-width:600px) {
        .name {
            font-size: 50px;
            font-weight: 300;
            margin-top: 39%;
        }
        .email-id {
            font-weight: 500;
            font-size: 15px;
            display: flex;
            margin: 15px;
            justify-content: center;
        }
        .profession {
            color: #cfcecf;
            font-size: 30px;
            font-weight: 600;
        }
    }
    @media screen and (min-width: 600px) {
        .name {
            font-size: 170px;
            font-weight: 300;
        }
        .email-id {
            position: absolute;
            top: 10%;
            right: 13%;
            font-weight: 500;
            font-size: 30px;
            display: flex;
            justify-content: end;
        }
        .profession {
            color: #cfcecf;
            font-size: 55px;
            font-weight: 600;
        }
    }
}

.image-wrapper {
    .product-images {
        width: 30%;
        margin: 15px;
    }
    @media screen and (max-width:600px) {
        .product-images {
            width: 100%;
            margin-bottom: 5%;
        }
    }
}

.customer-label-phrase {
    color: #b9e987;
}

.ruler {
    display: flex;
    justify-content: center;
    .ruler-line {
        display: inline-block;
        height: 1px;
        background: #fffefe;
        margin: 15px;
        &.ruler-line-1 {
            width: 4%;
            border-radius: 25%;
        }
        &.ruler-line-2 {
            width: 26%;
            border-radius: 25%;
        }
    }
}

.social-media {
    display: flex;
    justify-content: center;
    margin: 5% auto;
}


/* when the maximum screen width is 600px */

@media screen and (max-width:600px) {
    .image-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 67px;
        .product-images {
            width: 100%;
            margin-bottom: 5%;
        }
    }
    .customers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: stretch;
        align-items: center;
        position: relative;
        .customer-label {
            color: #cfcecf;
            font-size: 30px;
            margin-bottom: 75px;
        }
        .logo {
            margin: 35px;
            width: 20%;
            height: 100%;
            &.logo-4 {
                margin-bottom: 75px;
                width: 30%;
            }
        }
    }
    .phrase {
        font-size: 23px;
        text-align: center;
        font-weight: 400;
        margin: 65px 10px;
    }
}


/* when the minimum screen width is 600px */

@media screen and (min-width: 600px) {
    .image-wrapper {
        margin-bottom: 160px;
    }
    .customers {
        text-align: center;
        .customer-label {
            color: #cfcecf;
            font-size: 55px;
            margin-bottom: 75px;
        }
        .logo {
            margin: 61px;
            width: 8%;
            height: 42px;
            &.logo-3 {
                height: 77px;
                width: 6%;
            }
            &.logo-4 {
                height: 33px;
            }
            &.logo-6 {
                height: 60px;
            }
        }
    }
    .phrase {
        font-size: 24px;
        text-align: center;
        font-weight: 400;
        margin: 69px;
    }
}